body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image-container {
  width: 50%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-box {
  width: 50%;
  padding: 40px;
  background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
  color: white;
  text-align: center;
}

.form-box h1 {
  margin-bottom: 20px;
}

.form-box form {
  display: flex;
  flex-direction: column;
}

.form-box label {
  margin: 10px 0 5px;
  text-align: left;
}

.form-box input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.form-box button {
  background-color: white;
  color: #000dff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-box button:hover {
  background-color: #e0e0e0;
}

.form-box p {
  margin-top: 20px;
}

.form-box p a {
  color: #ffd700;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }

  .image-container,
  .form-box {
    width: 100%;
  }
}